body { font-family: "Parkinsans" !important; background: #111; color: white; text-align: center; font-family: "Kanit", sans-serif; font-weight: 600; font-style: normal; user-select: none;}
h1 h2 h3 h4 h5 h6 {
  font-family: "Parkinsans" !important;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: ease .2s;
    border: 5px solid transparent; 
}
img:hover{
    scale: 1.2;
    transition: ease .2s;
    border: 5px solid #ffffff;
    cursor: pointer;
}
a {
    color: #67a1ff;
    transition: ease 0.2s;
    text-underline-offset: 10000px;
  }
    #header{
    position: fixed;
    top: 6.5px;
    left: 50%;
    backdrop-filter: blur(3px);
    background-color: rgba(29, 29, 29, 0.7);  
    border: 0px solid #81bb92;
    transform: translateX(-50%);
    transition: all ease-in 0.2s;
    width: 50%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow: clip;
    color: white;
    padding: 16px 20px;
    z-index: 9999;
    border-radius: 20px;
  }
  #header .right{
    height: 35px;
  }
  .headericons{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    transition: ease .2s;
    border: 5px solid transparent; 
}
.headericons:hover{
    cursor: url(/stuff/icons/pointer.png), pointer!important;
    border: 5px solid transparent; 
}
  a:hover {
    color: #59e282;
    transition: ease 0.2s;
  }
  button{
    background-color: #1a1a1a44;
    width: 200px;
    height: 75px;
    outline: none;
    border: solid 5px #3b3b3b3b;
    color: white;
    font-family: "Parkinsans", sans-serif;
    font-size: 1.2em;
    border-radius: 15px;
    transition: all ease-in-out .2s;
    backdrop-filter: blur(20px);
    cursor: pointer;
    margin: 10px;
  }
  button:hover{
    background-color: #ececec;
    border: solid 5px #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
    color: black;
  }
  button:active{
    scale: 0.8;
  }
  #vanta {
width: 100%; height: 100%;
opacity: .5;
position: fixed;
top: 0;
left: 0;
z-index: 1;
}
#content {
  z-index: 9998;
  position: relative;
}
#whereamifrom{
  bottom: 0;
  z-index: 9998;
  position: fixed;
  text-align: center;
  display: grid;
  font-family: "Parkinsans", sans-serif;
  transition: all ease-in 0.2s;
}
#whereamifrom img{
  transform: translateY(15px);
}
#whereamifrom img:hover{
  scale: 1;
    transition: ease .2s;
    cursor: default;
}
#buildinfo{
  bottom: 0;
  right: 6.7px;
  z-index: 9998;
  position: fixed;
  text-align: center;
  display: grid;
  font-family: "Parkinsans", sans-serif;
  transition: all ease-in 0.2s;
}
p{
  font-family: "Parkinsans", sans-serif !important;
}
  .rizzpopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.425);
    color: white;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(3px);
    font-size: 2em;
    z-index: 9999;
    opacity: 0;
    transition: all 0.5s ease;
    font-family: 'Clash Display Semibold';
  }
    #roddyrichesbox{
    position: absolute;
    z-index: 9999;
text-align: center;
top: 50%;
left: 49%;
transform: translate(-50%, -55%);
border-radius: 35px;
color: white;
padding: 30px;
line-height: 1.8;
overflow: clip;
scrollbar-width: none;
-ms-overflow-style: none;
border: 3px solid #00ff9d;
background-color: #3a3a3a67;
backdrop-filter: blur(3px);
padding: 20px;
border-radius: 10px;
margin: 0 10px 10px;
  }
  #roddydihbar {
  position: fixed;
  top: 0;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  text-align: center;
  overflow: clip;
  color: white;
}
.smallbutton{
    width: 150px;
    height: 50px;
    font-size: 0.8em;
}
input{
  font-family: "Quicksand Bold", sans-serif;
  font-size: 1em;
  padding: 11px 2px;
  margin: 6px;
  background-color: #080808;
  color: #fff;
  border: 3px solid #141414;
  height: 50px;
  border-radius: 30px;
  cursor: auto;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.2);
  z-index:9999;
  text-decoration-color: white;
  transition: all .2s ease-in-out; 
  overflow: visible;
  text-align: center;
  transform: scaleX(30px);
  scale: 0.7;
  width: 400px;
  }
  input:hover{
  border: 3px solid #00ff9d;
  transition: all .2s ease-in-out; 
  }
  input:focus-visible{
  border: 3px solid #00ff9d;
  transition: all .2s ease-in-out; 
  outline: 0px;
  box-shadow: 0 0 5px #00ff9d, 0 0 15px #00ff9d, 0 0 25px #00ff9d;
  width: 400px;
  }
